<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="SSDMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="SSD.DataraceReason">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="SSD.StartCommand"
               icon="icons/sun.png"
               label="Start SSD"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="SSD.StopCommand"
               icon="icons/moon.png"
               label="Stop SSD"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="StartSSDHandler"
            commandId="SSD.StartCommand">
      </handler>
      <handler
            class="StopSSDHandler"
            commandId="SSD.StopCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="compilation.SSDcompilationParticipant"
            createsProblems="false"
            id="SSD.SSDcompilationParticipant"
            modifiesEnvironment="false"
            requiredSourceLevel="1.5">
      </compilationParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerImageProviders">
      <imageprovider
            icon="icons/devil.png"
            id="SSD.markerimageprovider"
            markertype="SSD.SSDMarker">
      </imageprovider>
   </extension>
</plugin>
